@import "tailwindcss";

@theme {
  --color-border: #E9EBF1;
  --color-main: #F49B31;
  --color-mid: #FFC37B;
  --color-light: #FEF5EA;

  --color-dark-gray: #454545;
  --color-sub-text: #363D4F;

  /* Animation colors */
  --color-anim-bg: #FFE1BC;
  --color-anim-mid: #FFD4A1;
}

.hero-bg{
  background-image: url("/Background.png");
  background-size: cover;
}

.waitlist-bg{
  background-image: url("/Background2.png");
  background-size: cover;
}

.email-cta{
  background: #FFF;
  box-shadow: 0 0.4px 1px 0 rgba(102, 109, 128, 0.20), 0 0 0 1px #E9EBF1 inset;
}

.anim-back{
  animation: back-anim 2s alternate infinite;
}

.anim-mid{
  animation: mid-anim 2s alternate infinite;
}

.anim-inner{
  background: linear-gradient(90deg, rgba(244, 155, 49, 0.30) 10.41%, #F49B31 61.64%);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.20) inset;
}

@keyframes mid-anim {
  from{
    box-shadow: 0 1px 5.7px 0 rgba(0, 0, 0, 0.10) inset;
    filter: blur(3.700000047683716px);
  }
  to{
    box-shadow: none;
    filter: blur(0px);
    display: none;
  }
}

@keyframes back-anim {
  from{
    box-shadow: 0 2px 9.9px 1px rgba(0, 0, 0, 0.25) inset, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    filter: blur(3.950000047683716px);
  }
  to{
    box-shadow: none;
    filter: blur(0px);
  }
}